button {
    padding: var(--spacing-md);
    color: var(--black);
    border: none;
    border-radius: var(--radius-md);
    cursor: pointer;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    color: var(--black);
}

.chat-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-set {
    width: var(--main-container-width);
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttons-set:empty {
    display: none;
}

.chat-controls .chat-button {
    width: 100%;
    margin: 10px auto;
}

.chat-messages .buttons-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--spacing-sm);
}

.chat-messages .chat-button {
    background-color: var(--light-gray);
    color: var(--black);
    width: auto;
}

.chat-microphone:hover,
.chat-send:hover,
.chat-button:hover {
    outline-color: var(--green);
}

.chat-microphone:active,
.chat-send:active,
.chat-button:active {
    background-color: var(--active-color);
    outline: 2px solid var(--ultra-light-blue);
}

.chat-button.animate-in {
    animation: buttonSlideIn 0.5s ease-out forwards;
}


.page-buttons button {
    border-radius: 18px;
    padding: 15px 30px;
    margin: auto 10px;
    font-size: 20px;
    color: var(--black);
    background: var(--light-gray);
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    min-width: 100px;
}
.page-buttons button:active,
.page-buttons button.active {
    border-color: var(--green) !important;
    background: var(--white) !important;
    color: var(--green) !important;
}

.contact-link {
    text-decoration: none;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-md);
    padding: var(--spacing-md);
    margin: 0;
    display: inline-block;
    font-size: 16px;
    color: var(--black);
    background: var(--light-gray);
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
}