button {
    padding: var(--spacing-md);
    color: var(--black);
    border: none;
    border-radius: var(--radius-md);
    cursor: pointer;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    color: var(--black);
}

.chat-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-set {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttons-set:empty {
    display: none;
}

.chat-controls .chat-button {
    width: 100%;
    margin: 10px auto;
}

.chat-messages .buttons-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--spacing-sm);
}

.chat-messages .chat-button {
    background-color: var(--light-gray);
    color: var(--black);
    width: auto;
}

.chat-microphone:hover,
.chat-send:hover,
.chat-button:hover {
    outline-color: var(--green);
}

.chat-microphone:active,
.chat-send:active,
.chat-button:active {
    background-color: var(--active-color);
    outline: 2px solid var(--border-color);
}

.chat-button.animate-in {
    animation: buttonSlideIn 0.5s ease-out forwards;
}


.site-navigation button {
    height: 50px;
 width: auto;
  flex-grow: 1;
  outline: 1px solid white;
  outline-offset: -2px;
}
.site-navigation button.active {
    background-color: var(--dark-gray);
    color: white;

}