.header-section {
    background-color: var(--header-background-color);
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid var(--border-color);
    text-align: center;
}

.avatar {
    border-radius: var(--radius-full);
    cursor: pointer;
    width: auto;
    height: 174px;
    padding-right: 5px;
}