.masthead {
    width: var(--main-container-width);
    max-width: 100%;
    margin: 0 auto;
    height: 11vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.masthead h1 {
    margin: 0 auto;
}

.site-navigation {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    width: var(--main-container-width);
    max-width: 100%;
    margin: 0 auto;
    gap: 5px;
}
.main > .chat-controls {
    height: 10vh;
}

.links.row {
    justify-content: flex-start;
    height: 5vh;
    gap: 12px;
    align-items: center;
    width: var(--main-container-width);
    max-width: 100%;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: var(--main-container-width);
    max-width: 100%;
    margin: 0 auto;
}
#resume-container {
    width: 100%;
    margin: 0 auto;
}

.top {
    justify-content: flex-start !important;
}

.contact.row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#qr {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    background: rgba(0,0,0,.5);
    z-index: 10000;
    text-align: center;
  }

  .qr-content {
    text-align: center;
    background: white;
  border-radius: 12px;
  padding-top: 30px;
  }
  
  #qr img {
    background: #fff;
    padding: 12px;
  }

  ul {
    padding-left: 25px;
  }
  

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.col-100 {
    width: 100%;
}

.col-90 {
    width: 90%;
}

.col-80 {
    width: 80%;
}

.col-75 {
    width: 75%;
}

.col-70 {
    width: 70%;
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%;
}

.col-30 {
    width: 30%;
}

.col-25 {
    width: 25%;
}

.col-20 {
    width: 20%;
}

.col-10 {
    width: 10%;
}

.col-1 {
    width: 1%;
}

.full-width {
    width: 100% !important;
}

.hidden {
    display: none !important;
}

.square-image {
    width: 100%;
    min-height: 540px;
}