.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#resume-container {
    width: var(--main-container-width);
    margin: 0 auto;
}
.main > .chat-messages {
    height: 79vh;
}
.main > .chat-controls {
    height: 15vh;
}

.page-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--main-container-width);
    overflow-x: auto;
    height: 6vh;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.top {
    justify-content: flex-start !important;
}

#qr {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    background: rgba(0,0,0,.5);
    z-index: 10000;
    text-align: center;
  }

  .qr-content {
    text-align: center;
    background: white;
  border-radius: 12px;
  padding-top: 30px;
  }
  
  #qr img {
    background: #fff;
    padding: 12px;
  }
  

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.col-100 {
    width: 100%;
}

.col-90 {
    width: 90%;
}

.col-80 {
    width: 80%;
}

.col-75 {
    width: 75%;
}

.col-70 {
    width: 70%;
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%;
}

.col-30 {
    width: 30%;
}

.col-25 {
    width: 25%;
}

.col-20 {
    width: 20%;
}

.col-10 {
    width: 10%;
}

.col-1 {
    width: 1%;
}

.full-width {
    width: 100% !important;
}

.hidden {
    display: none !important;
}