.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main > .chat-messages {
    min-height: 85vh;
    flex-grow: 1;
}
.main > .chat-controls {
    height: 15vh;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
    margin-top: 20px;
}

.navigation a { 
    width: 44%;
    text-decoration: none;
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    background: var(--light-gray);
    text-align: center;
    outline: 1px solid var(--border-color);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.col-100 {
    width: 100%;
}

.col-90 {
    width: 90%;
}

.col-80 {
    width: 80%;
}

.col-75 {
    width: 75%;
}

.col-70 {
    width: 70%;
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%;
}

.col-30 {
    width: 30%;
}

.col-25 {
    width: 25%;
}

.col-20 {
    width: 20%;
}

.col-10 {
    width: 10%;
}

.col-1 {
    width: 1%;
}

.full-width {
    width: 100% !important;
}
