.message-loading {
    display: flex;
}

.loading-dots {
    display: flex;
    gap: 2px;
}

.loading-dot {
    width: var(--dot-size);
    height: var(--dot-size);
    background-color: var(--primary-color);
    border-radius: var(--radius-full);
    font-size: 20px;
    animation: loading 1.4s infinite ease-in-out both;
}

.loading-dot:nth-child(1) {
    animation-delay: -0.32s;
}

.loading-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dot:nth-child(3) {
    animation-delay: 0.4s;
}

.loading-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.loading-text {
    color: var(--text-secondary);
}

