@media (max-width: 1268px) {
    h1 {
        font-size: 33px;
    }
    .side-bar {
        width: 100%;
        height: 200px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .side-bar h4 {
        display: none;
    }
    .chat-messages {
        margin-top: 200px;
        overflow-x: hidden;
        width: 100%;
        justify-content: flex-start;
        min-height: 0 !important;
    }
    .title {
        font-size: 30px;
        margin: 0;
    }
    .avatar {
        width: 55px;
        height: 55px;
        margin-top: 0;
    }
    .chat-controls {
        width: 100%;
    }
    .message,
    .buttons-set,
    .chat-input-section {
        width: 98%;
        padding: 0 1%;
    }

    .links,
    .contact {
        width: auto;
        display: block;
    }

    .links a{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }

    .contact-link {
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
    .elevenlabs-section {
        width: 100%;
        position: absolute;
        top: 70%;
        box-shadow: none;
    }
    elevenlabs-convai {
        position: relative !important;
        width: 100% !important;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    elevenlabs-convai div {
        width: 100% !important;
        text-align: center !important;
        margin: 0 auto !important;
        align-items: center !important;
        justify-content: center !important;
    }
}