@media (max-width: 1268px) {
    h1,
    .title {
        font-size: 25px;
    }
    .side-bar {
        width: 100%;
        height: 200px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .side-bar h4 {
        display: none;
    }
    .chat-messages {
        overflow-x: hidden;
        width: 100%;
        justify-content: flex-start;
        min-height: 0 !important;
    }
    .chat-messages .row {
        flex-direction: column !important;
    }
    .chat-messages img {
        display: none;
    }
    .avatar {
        width: 55px;
        height: 55px;
        margin-top: 0;
    }
    .main > .chat-messages {
        height: 72vh;
    }
    .main > .chat-controls {
        height: 9vh;
        justify-content: center;
        padding-bottom: 20px;
    }
    .chat-controls {
        width: 100%;
    }
    .site-navigation button {
        height: 21px;
    }
    .row.links {
        display: flex;
        justify-content: center;
    }
    .chat-microphone {
        display: none;
    }
    .chat-send {
        height: 100%;
    }
    .message,
    .buttons-set,
    .chat-input-section {
        width: 98%;
        padding: 0 1%;
    }

    .links,
    .contact {
        width: auto;
        display: block;
    }

    .links a{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }

    .contact-link {
        padding: 0 4px;
        margin: 0;
        cursor: pointer;
    }
    ._box_1968y_39,
    .elevenlabs-section div {
        box-shadow: none !important;
    }
        .elevenlabs-section {
        width: 100%;
        position: absolute;
        top: 67%;
        box-shadow: none;
    }
    elevenlabs-convai {
        position: relative !important;
        width: 100% !important;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    elevenlabs-convai div {
        width: 100% !important;
        text-align: center !important;
        margin: 0 auto !important;
        align-items: center !important;
        justify-content: center !important;
    }
}