.side-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-bar .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 50px;
}

.side-bar .title {
    margin: 20px 0 10px 0;
}

.side-bar h4,
.side-bar .title,
.side-bar .links,
.side-bar .contact {
    display: flex;
    flex-direction: column;
    width: 190px;
    justify-content: flex-start;
    text-align: left;
}