@import 'reset.css';
@import 'variables.css';
@import 'loading.css';
@import 'animations.css';
@import 'typography.css';
@import 'layout.css';
@import 'buttons.css';
@import 'chat.css';
@import 'social.css';
@import 'header.css';
@import 'panel.css';
@import 'resume.css';
@import 'projects.css';
@import 'modal.css';
@import 'footer.css';
@import 'sidebar.css';
@import 'mobile.css';