html {    
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--text-primary);
    line-height: 1.6;
}

p {
    margin: 10px 0 !important;
}

.accent-text {
    color: var(--accent-text);
}

.hidden {
    display: none;
}

.title {
    font-family: Sora;
    font-size: 57.6px;
    font-weight: bold;
    line-height: 1.2;
    margin: 20px 0 10px 0;
}

.extra-lg {
    
}