html {    
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--text-primary);
    line-height: 1.6;
}

p {
    margin: 10px 0 !important;
}

.accent-text {
    color: var(--accent-text);
}

.hidden {
    display: none;
}

.title {
    font-family: Inter;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none;
    color: var(--dark-gray);
}

.title:hover {
    color: black;
}

.masthead a {
    text-decoration: none;
}